body {
   font-family: sans-serif;
}

main {
   height: 100vh;
}

.left_contacts {
   width: 30%;
}

.left_header {
   height: 4.5rem;
}

.user img {
   border-radius: 50%;
}

.left_icons i {
   padding-left: 1rem;
   font-size: 1.3rem;
}

.right_chat {
   width: calc(100% - 30%);
}

.right_header {
   height: 4.5rem;
}