:root {
   --bg-notify-banner: #8edafc;
   --bg-message: #d5f9ba;
   --bg-input-chat: #f3eeea;
   --bg-headers: #eaeaea;
   --bg-main-1: #009688;
   --bg-main-2: #dbdbd2;
}


body {
   font-family: sans-serif;
}

main {
   height: 100vh;
   background: linear-gradient(180deg, var(--bg-main-1) 0%, var(--bg-main-1) 15%, var(--bg-main-2) 15%, var(--bg-main-2) 100%);
}

.left_contacts {
   width: 30%;
}

.left_header {
   height: 4.5rem;
   cursor: default;
   background-color: var(--bg-headers);
}

.user img {
   border-radius: 50%;
   cursor: pointer;
}

.header_icons i {
   padding-left: 1rem;
   font-size: 1.3rem;
   cursor: pointer;
}

.notify_banner {
   height: 4.5rem;
   background-color: var(--bg-notify-banner);
}

.bell {
   padding: 0.5rem;
}

.bell i {
   color: var(--bg-notify-banner);
   padding: 0.2rem;
}

.banner_content {
   font-size: 0.8rem;
}

.search_section {
   background-color: var(--bg-headers);
   height: 3rem;
}

.contacts {
   height: calc(100% - 12rem);
   overflow-y: auto;
}

.contact {
   height: 4.5rem;
}

.contacts > li.active {
   background-color: var(--bg-headers);
}

.last_message {
   font-size: 0.7rem;
}

.time_contact {
   font-size: 0.7rem;
}

.right_chat {
   width: calc(100% - 30%);
   background-image: url('../img/mine.jpg');
   overflow-y: auto;
}

.right_header {
   height: 4.5rem;
   background-color: var(--bg-headers);
}

.chat_area {
   height: calc(100% - 15rem);
}

.recived {
   background-color: white;
   padding: 0.7rem;
   width: 35%;
   border-radius: 0.5rem;
   margin-bottom: 0.5rem;
}

.sent {
   background-color: var(--bg-message);
   padding: 0.7rem;
   width: 35%;
   border-radius: 0.5rem;
   margin-bottom: 0.5rem;
}

.recived span {
   font-size: 0.9rem;
}

.text_area {
   height: 4.5rem;
   background-color: var(--bg-input-chat);
}

.text_area i {
   font-size: 1.5rem;
   cursor: pointer;
}

.text_section input {
   width: 45rem;
   padding: 0.8rem;
}